@use '../utils' as *;

.tv-section {
    
    &-title {
        &-box{
            p{
                margin-top: 40px;
            }
        }
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 0;
        & span {
            color: var(--tv-theme-1);
        }
        @media #{$xl}{
            font-size: 38px;
        }
        @media #{$lg}{
            font-size: 37px;
        }
        @media #{$md}{
            font-size: 40px;
            & br {
                display: none;
            }
        }
        @media #{$xs}{
            font-size: 30px;
            & br {
                display: none;
            }
        }
        @media #{$sm}{
            font-size: 36px;
        }
      
        
    }
    &-subtitle {
        display: inline-block;
        color: var(--tv-theme-1);
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        font-family: var(--tv-ff-heading);
        @media #{$xs}{
            font-size: 14px;
        }
    }
}

.section-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

