@use '../utils' as *;

/*----------------------------------------*/
/*  23. slider css start
/*----------------------------------------*/
.tv-slider {
    &-subtitle {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
        color: var(--tv-common-white);
        position: relative;
        padding-left: 57px;
        text-transform: uppercase;
        font-family: var(--tv-ff-heading);
        @media #{$xs}{
            font-size: 14px;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 45px;
            height: 1px;
            margin-right: 12px;
            transform: translateY(1px);
            background-color: var(--tv-common-white);
            position:absolute;
            left: 0;
            top: 50%;
            @media #{$xs}{
                width: 45px;
                height: 1px;
                transform: translateY(-1px);
            }
        }
    }
    &-title {
        font-weight: 700;
        font-size: 80px;
        line-height: 1.14;
        margin-bottom: 20px;
        text-transform: capitalize;
        color: var(--tv-common-white);
        font-family: var(--tv-ff-heading);
        @media #{$xl}{
            font-size: 60px;
        }
        @media #{$lg}{
            font-size: 55px;
        }
        @media #{$md}{
            font-size: 60px;
        }
        @media #{$xs}{
            font-size: 37px;
        }
        @media #{$sm}{
            font-size: 49px;
        }
    }
    &-content {
        padding: 232px 0;
        @media #{$xxl}{
            padding: 170px 0;
        }
        @media #{$xl}{
            padding: 150px 0;
        }
        @media #{$lg}{
            padding: 150px 0;
        }
        @media #{$md}{
            padding: 140px 0;
        }
        @media #{$xs}{
            padding: 120px 0;
        }
        & p {
            font-weight: 600;
            font-size: 17px;
            line-height: 1.76;
            color: var(--tv-common-white);
            @media #{$xl,$lg}{
                & br {
                    display: none;
                }
            }
            @media #{$xs}{
                font-size: 14px;
                & br {
                    display: none;
                }
            }
        }
    }
    &-overlay {
        background-size: cover;
        background-repeat: no-repeat;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            background: linear-gradient(90deg, #0A165E 0%, #0A165E00 100%);
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position:center;
        -webktv-transform: scale(1.15);
        transform: scale(1.15);
        -webktv-transition: opacity 1500ms ease-in, -webktv-transform 7000ms ease;
        transition: opacity 1500ms ease-in, -webktv-transform 7000ms ease;
        transition: transform 9000ms ease, opacity 1500ms ease-in;
        transition: transform 9000ms ease, opacity 1500ms ease-in, -webktv-transform 9000ms ease;
    }
    &-arrow-box {
        position: absolute;
        top: 50%;
        right: 15%;
        z-index: 1;
        transform: translateY(-50%);
        @media #{$xl}{
            right: 10%;
        }
        @media #{$lg}{
            right: 7%;
        }
        & .arrow-prev {
            margin-left: 45px;
        }
        & button {
            padding: 0;
            height: 60px;
            width: 60px;
            line-height: 60px;
            font-weight: 400;
            font-size: 24px;
            transition: .3s;
            border-radius: 50%;
            color: var(--tv-theme-1);
            display: block;
            background-color: var(--tv-common-white);  
            & svg {
                display: inline-block;
                margin-top: -2px;
            }       
            &:hover{
                color: var(--tv-common-white);
                background-color: var(--tv-theme-1);
            }
        }
    }
    &-wrap {
        & .swiper-slide{
            &.swiper-slide-active{ 
                & .tv-slider-bg{
                    -webktv-transform: scale(1);
                    transform: scale(1)
                }  
            }
        }
    }
    &-active {
        & .swiper-slide-active {
            & .tv-slider-subtitle,
            & .tv-slider-title,
            & .tv-slider-text,
            & .tv-slider-btn {
                display: inline-block;
                animation-fill-mode: both;
                animation-name: fadeInUp;
            }
        }
    }
    &-style-2 {
        & .tv-slider-overlay {
            height: 820px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$xxl}{
                height: 750px;
            }
            @media #{$xl,$lg}{
                height: 650px;
            }
            @media #{$md}{
                height: 580px;
            }
            @media #{$xs}{
                height: 550px;
            }
            @media #{$sm}{
                height: 600px;
            }
            &::after {
                background: linear-gradient(90deg, #0f313a 0%, rgba(15, 49, 58, 0.45) 99.99%, rgba(15, 49, 58, 0) 100%);
            }
        }
        & .tv-slider-title {
            font-weight: 700;
            font-size: 75px;
            line-height: 1.2;
            margin-bottom: 20px;
            text-transform: capitalize;
            color: var(--tv-common-white);
            @media #{$xxl}{
                font-size: 70px;
            }
            @media #{$xl}{
                font-size: 62px;
            }
            @media #{$lg}{
                font-size: 54px;
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 31px;
            }
            @media #{$sm}{
                font-size: 44px;
            }
        }
        & .tv-slider-content {
            padding:0;
        }
    }
}
.tv-slider-animation {
  .swiper-slide-active {
    .tv-slider-subtitle {
      animation-delay: 0.3s;
      animation-duration: 0.5s;
    }
    .tv-slider-title {
      animation-delay: 0.7s;
      animation-duration: 0.5s;
    }
    .tv-slider-text {
      animation-delay: 0.9s;
      animation-duration: 0.7s;
    }
    .tv-slider-btn {
      animation-delay: 1.1s;
      animation-duration: 0.9s;
    }
  }
}
.tv-slider-active2 {
    &.tv-slider-animation {
      .swiper-slide-active {
        .tv-slider-title,
        .tv-slider-text,
        .tv-slider-btn {
          animation-name: fadeInUp;
          animation-fill-mode: both;
          opacity: 0;
        }
        .tv-slider-title {
          animation-delay: 0.3s;
          animation-duration: 0.5s;
          opacity: 1;
        }
        .tv-slider-text {
          animation-delay: 0.6s;
          animation-duration: 0.7s;
          opacity: 1;
        }
        .tv-slider-btn {
          animation-delay: 0.9s;
          animation-duration: 0.9s;
          opacity: 1;
        }
      }
    }
  }
.tv-hero-slider-active-3{
    &.tv-slider-animation {
      .swiper-slide-active {
       .tv-hero-subtitle,
        .tv-hero-title,
        .tv-spltv-text,
        .tv-btn-primary {
          animation-name: fadeInUp;
          animation-fill-mode: both;
          opacity: 0;
        }
        .tv-hero-subtitle {
          animation-delay: 0.3s;
          animation-duration: 0.5s;
          opacity: 1;
        }
        .tv-hero-title {
          animation-delay: 0.6s;
          animation-duration: 0.7s;
          opacity: 1;
        }
        .tv-spltv-text {
          animation-delay: 0.9s;
          animation-duration: 0.9s;
          opacity: 1;
        }
        .tv-btn-primary {
          animation-delay: 1.1s;
          animation-duration: 0.9s;
          opacity: 1;
        }
      }
    }
  }
  






// slider two css

.tv-slider-area-two{
    .tv-slider-content{
        padding: 305px 0;
        @media #{$xl}{
            /* 'only screen and (min-width: 1200px) and (max-width: 1399px)' */
            padding: 250px 0;
        
            
        }
        @media #{$lg}{
            /* 'only screen and (min-width: 1200px) and (max-width: 1399px)' */
            padding: 200px 0;
        
            
        }
        @media #{ $md, $sm, $xs}{
            /* 'only screen and (min-width: 1200px) and (max-width: 1399px)' */
            padding: 150px 0;
        
            
        }
        p{
          font-size: 18px;
          font-weight: 400;  
          width: 630px;
          margin: 0 auto;
          @media #{$md, $sm, $xs}{
            /* 'only screen and (min-width: 1200px) and (max-width: 1399px)' */
            width: auto;
        
            
        }
        }
        .tv-btn-primary{
            margin-top: 20px;
        }
    }
    .tv-testi-arrow-box{
        button{
         position: absolute;
         left: 0;
         top: 50%;
         z-index: 2;
         transform: translateY(-50%);
         border-radius: 50%;
         &.arrow-prev{
             left: auto;
             right: 0;
         }
        }
     }
}

// Slider three css

.hero-slider-wrap3{
    position: relative;
    z-index: 1;
    .section-bg{
        background-position: bottom;
    }
    .tv-header-top-social-box{
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        @media #{$lg, $md, $sm, $xs}{
            /* 'only screen and (min-width: 992px) and (max-width: 1199px)' */
        
            display: none;
        }
        a{
            display: block;
            margin-right: 0;
            background-color: rgba(255, 255, 255, 0.1);
            height: 36px;
            width: 36px;
            line-height: 36px;
            border: none;
            color: var(--tv-common-white);
            &:not(:last-child){
                margin-bottom: 12px;
            }
            &:hover{
                background-color: var(--tv-theme-1);
            }
        }
        &:after{
            
        position: absolute;
        content: "";
        height: 120px;
        left: 50%;
        bottom: -67%;
        width: 2px;
        background: linear-gradient(to top, #2B4DFF, rgba(43, 77, 255, 0));
        }
        &:before{
         
        position: absolute;
        content: "";
        height: 120px;
        left: 50%;
        top: -67%;
        width: 2px;
        background: linear-gradient(to bottom, #2B4DFF, rgba(43, 77, 255, 0));   
        }
    }
    .tv-testi-arrow-box{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        button{
            display: block;
            border-radius: 50%;
            background-color: var(--tv-heading-primary);
            &:not(:last-child){
                margin-bottom:14px ;
            }
            &:hover{
                background-color: var(--tv-theme-1);
            }
        }
    }
}







.tv-slider-arrow-box span.swiper-pagination-bullet {
    height: 42px;
    width: 42px;
    line-height: 42px;
    background: transparent;
    border: 1px solid #fff;
    color: var(--tv-common-white);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--tv-ff-body);
    opacity: 1;
}

.tv-slider-arrow-box span.swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 42px;
    position: relative;
}

.tv-slider-arrow-box span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--tv-theme-1);
    border: 1px solid var(--tv-theme-1);
    
}

.tv-slider-arrow-box span.swiper-pagination-bullet:not(:last-child):after {
    position: absolute;
    content: "";
    height: 30px;
    left: 50%;
    top: 118%;
    width: 1px;
    background: linear-gradient(to bottom, #2B4DFF, #FFFFFF00);;
}